.nav, .navbar-nav {
  text-align: center;
}

.navbar-nav>li {
  float: none !important;
  display: inline-block !important;
}

@media (max-width: 768px) {
  .nav, .navbar-nav {
    float: none !important;
    display: block !important;
    margin: 0 auto !important;
  }

  ul {
    width: 100% !important;
  }

  .li-style {
    width: 100px;
    margin: 0 !important;
  }

  .li-style > a {
    width: 100px;
    font-size: 12px;
  }
}

/*自定义导航*/
ul {
  width: 680px;
  min-height: 48px !important;
  margin: 0 auto !important;
  padding: 0 !important;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.li-style {
  display: inline-block;
  width: 110px;
  height: 100%;
  background-color: white;
  margin: 0 !important;
  text-align: center;
}

.li-style > a {
  display: block;
  width: 110px;
  height: 100%;
  line-height: 48px;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
}
