<div nz-col [nzXs]="24">
  <div style="width: 100%; height: 50px;">
    <div style="height: 50px; float: left;">
      <div style="width: 100px; height: 50px; display: flex; justify-content: center; align-items: center;">
        <div style="width: 80px; height: 40px; line-height: 40px; text-align: center; border-radius: 3px; background-color: #57b4ff; color: white; font-weight: bold;">
          LOGO
        </div>
      </div>
    </div>
    <div style="height: 50px; float: right;">
      <div style="width: 100px; height: 50px; display: flex; justify-content: center; align-items: center; cursor: pointer;" (click)="out()">
        <div style="width: 80px; height: 40px; line-height: 40px; text-align: center; border-radius: 3px; background-color: #fff; font-weight: bold;">
          退出
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default" [ngStyle]="{display: navHeight, transition: 'height 1s !important'}">
    <div class="navbar-header">
      <button style="float: right;margin-right: 10px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapsel">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapsel">
      <ul class="nav-style">
        <li class="li-style">
          <a routerLink="/frame/home" class="li-one" (click)="activeBtn(0)">首页</a>
        </li>
        <li class="li-style">
          <a routerLink="/frame/authManagement" class="li-two" (click)="activeBtn(1)">授权管理</a>
        </li>
        <li class="li-style">
          <a routerLink="/frame/analFeedback" class="li-three" (click)="activeBtn(2)">分析反馈</a>
        </li>
        <li class="li-style">
          <a routerLink="/frame/schoolManagement" class="li-four" (click)="activeBtn(3)">学校管理</a>
        </li>
        <li class="li-style">
          <a routerLink="/frame/schoolManagement" class="li-four" (click)="activeBtn(3)">导航</a>
        </li>
        <li class="li-style">
          <a routerLink="/frame/schoolManagement" class="li-four" (click)="activeBtn(3)">导航</a>
        </li>
      </ul>
      <!--<ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/frame/authManagement">
            <dl>
              <dt>
                <i class="iconfont icon-index"></i>
              </dt>
              <dd>授权管理</dd>
            </dl>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/frame/analFeedback">
            <dl>
              <dt>
                <i class="iconfont icon-xt-zuzhi"></i>
              </dt>
              <dd>分析反馈</dd>
            </dl>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/frame/schoolManagement">
            <dl>
              <dt>
                <i class="iconfont icon-renyuanguanli"></i>
              </dt>
              <dd>学校管理</dd>
            </dl>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/frame/analFeedback">
            <dl>
              <dt>
                <i class="iconfont icon-jiaofeiguanli"></i>
              </dt>
              <dd>react吧</dd>
            </dl>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/frame/treatment_pay">
            <dl>
              <dt>
                <i class="iconfont icon-daiyuzhifu"></i>
              </dt>
              <dd>springboot吧</dd>
            </dl>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/frame/voucher_manage">
            <dl>
              <dt>
                <i class="iconfont icon-buchongyiliaobaoxian"></i>
              </dt>
              <dd>博客</dd>
            </dl>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/frame/report_forms">
            <dl>
              <dt>
                <i class="iconfont icon-baobiaochaxun"></i>
              </dt>
              <dd>自传</dd>
            </dl>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/frame/sys_manage">
            <dl>
              <dt>
                <i class="iconfont icon-xitongshezhi"></i>
              </dt>
              <dd>china</dd>
            </dl>
          </a>
        </li>
      </ul>-->
    </div>
  </nav>
</div>

<div class="frame-content frame-container">
  <router-outlet></router-outlet>
</div>
