<div style="width: 100%;">
  <ul nz-menu [nzMode]="'inline'" style="width: 230px !important; float: left !important; border-right: 1px solid #dbdbdb !important;">
    <li nz-menu-item routerLinkActive="active ant-menu-item-selected">
      <a routerLink="../schoolManagement/principal" [title]="'校长'">
        <i class="iconfont icon-xt-canshu"></i>
        <span class="nav-text">校长</span>
      </a>
    </li>
    <li nz-menu-item routerLinkActive="active ant-menu-item-selected">
      <a routerLink="../schoolManagement/teacher" [title]="'教师'">
        <i class="iconfont icon-xt-zidian"></i>
        <span class="nav-text">教师</span>
      </a>
    </li>
    <li nz-menu-item routerLinkActive="active ant-menu-item-selected">
      <a routerLink="../schoolManagement/student" [title]="'学生'">
        <i class="iconfont icon-xt-shouquan"></i>
        <span class="nav-text">学生</span>
      </a>
    </li>
    <li nz-menu-item routerLinkActive="active ant-menu-item-selected">
      <a routerLink="../schoolManagement/leader" [title]="'领导'">
        <i class="iconfont icon-xt-shouquan"></i>
        <span class="nav-text">领导</span>
      </a>
    </li>
  </ul>

  <div style="padding: 10px; min-height: 280px; float: left !important;">
    <router-outlet></router-outlet>
  </div>
</div>
